<mat-card>
  <mat-card-header>
    <mat-card-title>
      Theme - Konfiguration
      <button mat-icon-button matTooltip="Default-Konfiguration wiederherstellen" (click)="restoreDefaultConfig()"><mat-icon>restore</mat-icon></button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="theme-color-container">
      <span class="mat-label-large">Primary</span>
      <span class="theme-color-value">
        <span [style.background-color]="themeConfig?.primaryColor" class="color-indicator"></span>
        {{ themeConfig?.primaryColor }}
      </span>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="theme-color-container">
      <span class="mat-label-large">Secondary</span>
      <span class="theme-color-value">
        <span [style.background-color]="themeConfig?.secondaryColor" class="color-indicator"></span>
        {{ themeConfig?.secondaryColor }}
      </span>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="theme-color-container">
      <span class="mat-label-large">Tertiary</span>
      <span class="theme-color-value">
        <span [style.background-color]="themeConfig?.tertiaryColor" class="color-indicator"></span>
        {{ themeConfig?.tertiaryColor }}
      </span>
    </div>
    <button id="edit-button" mat-raised-button (click)="openEditThemeConfigDialog()">
      <mat-icon>edit</mat-icon>
      Bearbeiten
    </button>
  </mat-card-content>
</mat-card>
