.palettes-comparison-container {
  display: flex;
  flex-direction: row;
}

.hor-divider {
  margin-top: 1rem;
}

.palettes-config-container {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 0.5rem;
  position: relative;
}

.palettes-config-preview {
  overflow: auto;
  max-height: 25rem;
  width: 100%;
}

#select-file-button {
  margin-top: 1rem;
}

.edit-config-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
